body{
  margin: 0;
  padding: 0;
  background-color: #f7f7ff;
  color: #032b43;
  font-family: 'Product Sans', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options{
  display: flex;
}

.options, .card{
  margin-top: 40px;

}

.options .weight, .length{
  width: 50px;
  height: 50px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 210px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card{
  width: 500px;
  background: #FFFFFF;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #000;
  padding: 40px 30px;
  padding-top: 0;
}

svg{
  margin-top: auto;
  margin-bottom: auto;
}

.length-convertion{
  display: none;
}

.weight, .length{
  background-color: #fff;
  border: none;
}

.weight{
  border: .5px solid #2b5dff;
}



.inputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

p{
  font-weight: lighter;
}

.cmToInches, .inchesToCm{
  width: 49.5%;
  height: 32px;
  border: none;
  background-color: #2b5dff;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.inchesToCm{
  background-color: #fff;
  color: #2b5dff;
  border: .5px solid #2b5dff;
}

input{
  height: 25px;
  width: 40%;
  margin-top: 15px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.convert{
  width: 15%;
  border: none;
  background-color: #2b5dff;
  margin-top: 15px;
  height: 32px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  cursor: pointer;
}
